.bread-bar a {
    text-decoration: none;
    color: #b2b2b2;}

.bread-bar a:hover {
    text-decoration: underline;}
.bread-bar span {
    margin: 0 10px;}

.bread-bar {
    color: #b2b2b2;
     margin-bottom: 30px;}
.article-list {
    width: 100%;}

.article-list-title {
    font-size: 22px;
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;}

.article-list-title::before {
    position: absolute;
    content: "";
    border-top: 1px solid #ededed;
    bottom: 0;
    width: 100%;}

.article-list-title span {
    display: inline-block;
    padding: 0 0 10px 0;
    position: relative;}

.article-list-title span::before {

    position: absolute;
    content: "";
    border-top: 4px solid #fa8513;
    width: 100%;
    bottom: 0;
    left: 0;}

.article-item {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ededed;}

.article-list a {
    text-decoration: none;
    display: inline-block;
    flex: 1;
    color: inherit;}

.article-title:hover {
    color: #0D5690;}

.pagebar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;}

.p_no, .p_fun, .p_no_d, .p_fun_d {
    padding: 5px;
    border: 1px solid #ededed;
    border-radius: 4px;
    margin: 5px;}
.p_no_d, .p_fun_d {
    cursor: not-allowed;
    color: #ededed;}

.p_no:hover, .p_fun:hover {
    color: white;
    background-color: #0D5690;}
